#about {
  padding: 80px 20px;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
}

.about-box {
  max-width: 600px;
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.about-img {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* dumaloq qiladi */
  object-fit: cover;
  margin-bottom: 20px;
}

.about-box h2 {
  margin-bottom: 15px;
}

.about-box p {
  margin-bottom: 10px;
  line-height: 1.6;
}

a button {
  background: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

a button:hover {
  background: #297c2d;
  color: white;
  box-shadow: #4CAF50 0px 4px 15px;
  transition: 12px;
}