#about {
  padding: 80px 20px;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
}

.about-box {
  max-width: 600px;
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.about-img {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* dumaloq qiladi */
  object-fit: cover;
  margin-bottom: 20px;
}

.about-box h2 {
  margin-bottom: 15px;
}

.about-box p {
  margin-bottom: 10px;
  line-height: 1.6;
}
